grafana:
  enabled: true
  admin:
    existingSecret: "grafana-admin-credentials"
    passwordKey: "admin-password"
    userKey: "admin-user"
  
  ingress:
    enabled: true
    ingressClassName: "nginx"
    hosts:
      - grafana.mgeniusworld.local
    path: /
    pathType: ImplementationSpecific

  persistence:
    enabled: true
    storageClassName: "local-path"
    size: 2Gi

  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      searchNamespace: ALL
  
  initChownData:
    enabled: false

prometheus:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: "nginx"
    hosts:
      - prometheus.mgeniusworld.local
    path: /
    pathType: ImplementationSpecific
    
  prometheusSpec:
    retention: 5d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi 

alertmanager:
  enabled: false 

nodeExporter:
  enabled: true
